<div class="container">
    <%# <h1 class = "mt-10">Add Your Detalis Here</h1> %>

    <div class="form-group">
        <%= form_for @user do |u| %>
            <div class='form-group'>
                <%= u.label :name %>
                    <%= u.text_field :name, class: 'form-control' %>
            </div>

            <div class='form-group'>
                <%= u.label :email %>
                    <%= u.text_field :email, class:'form-control'%>
            </div>

            <div class='form-group'>
                <%= u.label :phone %>
                    <%= u.text_field :phone, class:'form-control'%>
            </div>

            <div class='form-group'>
                <%= u.label :age %>
                    <%= u.number_field :age, class:'form-control'%>
            </div>

            <div class='form-group'>
            <%= u.submit "Edit", class: 'btn btn-primary btn-block' %>
           <%# <%=  submit_tag "Submit", id: "foo-submit", data: { disable_with: "Please wait..." }%> 
           <%= %>
            </div>



            <% end %>
    </div>