




<div class="container">
<h1><%= @user.name %></h1>
<p><%= @user.email %></p><hr>
<br><br>
  <h2>User Buying Products</h2>
  <%# <p>The .table-striped class adds zebra-stripes to a table:</p>             %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th colspan = 2>Actions</th>
      </tr>
    </thead>
    <% @user.buying_products.all.each do |product| %>
    
    <tbody>
      <tr>
        <td> <%= product.name %> </td>
        <td> <%= product.price %> </td>
        <td><%= product.description %> </td>
        <td>
           <%= link_to "Edit" ,edit_product_path(product), class: "btn btn-primary" %>
        </td>
        <td>
           <%= link_to "Delete" ,product_path(product) , method: :delete  , class: "btn btn-danger" %>
        </td>
        
      </tr>
      
    </tbody>
    <%end %>

  </table><br><br>
  
  <%# <% @user.selling_products.to_a %> 

<h2>User Selling  Products</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th colspan = 2>Actions</th>
      </tr>
    </thead>
    <% @user.selling_products.all.each do |product| %>
    <tbody>
      <tr>
        <td> <%= product.name %> </td>
        <td> <%= product.price %> </td>
        <td><%= product.description %> </td>
        <td>
           <%= link_to "Edit" ,edit_product_path(product), class: "btn btn-primary" %>
        </td>
        <td>
           <%= link_to "Delete" ,product_path(product) , method: :delete  , class: "btn btn-danger" %>
        </td>
      </tr>
      
    </tbody>
    <%end %>

  </table>


  <h1><%= link_to "Go Back To Home" , users_path , class: "btn btn-primary"%> </h1> 
  
</div>


